/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 30px;
}
.comments-inputs {
  display: flex;

  justify-content: space-between;
  margin-left: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-desc {
  font-family: 'Roboto';
  font-size: 13px;
}
.name-input {
  border: 2px solid #cbd2d9;
  margin-bottom: 10px;
}
.comment-input {
  font-family: 'Roboto';
  font-size: 14px;
  margin-bottom: 10px;
}
.add-button {
  color: #ffffff;
  background-color: #0284c7;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  width: 120px;
}
.image {
  width: 200px;
  height: 180px;
}
.line {
  color: #dee0e3;
  width: 400px;
}
.heading {
  color: #1e293b;
  font-size: 14px;
  font-family: 'Roboto';
}
.comments-count {
  background-color: #0284c7;
  padding: 2px;
  width: 30px;
  border-radius: 1px;
}
